<form class="{{cssClass}} colorset-{{colorset}}" autocomplete="off">
	<div id="theexpanse-roller" class="flexcol">
        <div id="theexpanse-roller-drag"></div>
		<img src="systems/theexpanse-system/resources/imgs/ui-elements/cubes.svg">
	</div>
</form>