{{!-- Colorset defined in the Actor Sheet Class --}}
<form class="actor-sheet {{cssClass}} colorset-{{data.colorScheme}} colorset-selection flexcol" autocomplete="off">
    <input name="name" class="item-card-title colorset-first-tier" type="text" value="{{actor.name}}" placeholder="{{localize "theexpanse-system.item.name"}}"/>
    
    <div class="block-section flexrow">

        {{!-- Column 1 - Stats Block based on THE EXPANSE books --}}
        <div class="stat-block-container flexcol">
            {{> "systems/theexpanse-system/templates/partials/char-stat-block-column1.hbs"}}
        </div>

        {{!-- Column 2 - Conditions, Effects and Item Mods Handler --}}
        {{!-- <div class="stat-block-container flexcol char sheet theexpanse-system standard">
            {{> "systems/theexpanse-system/templates/partials/conditions-block.hbs"}}
        </div> --}}

    </div>

    <div class="filler">
    </div>
    
    <footer class="colorset-first-tier">
    </footer>
</form>